.gurantee-container{
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    text-align: center;
}
.gurantee-container h1{
    color: rgb(49, 155, 203);
    font-family: "Roboto slab";
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
}
.gurantee-container p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;

}
.gurantee-container img{
    height: 200px;
    
}

@media (min-width:900px) {
    .gurantee-container{
        padding-left: 230px;
        padding-right: 230px;
    }
    .gurantee-container p{
        padding-top: 10px;
    }
    .gurantee-container{
    }
    .gurantee-container p{
        font-size: 30px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .text-container{
        display: flex;
        font-size: 30px;
        margin-bottom: 30px;
    }  
    .text-container img{
        height: 300px;
    }
}