.footer-section{
background: #b8b854;
background: radial-gradient(circle, rgba(184, 184, 84, 1) 0%, rgba(255, 185, 8, 1) 18%);
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;
padding-top: 10px;
}
.legal{
    display: none;
}
.support{
    display: none;
}
.text-p{
    text-align: left;
}
.logo{
    display: flex;
}
.terms{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
hr{
    background-color: black;
    margin-top: 10px;
}
.bottom-part{
    padding-top: 10px;
}
.bottom-part p:hover{
    color:#d0619a ;
    cursor: pointer;
}
.top-part{
    display: none;
}
.rights{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.statement{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

@media (min-width:900px) {
    .top-part{
        display: flex;
        justify-content: space-around;
    }
    .logo .text{
        padding-top:30px;

    }
    .legal{
        display: block;
        text-align: center;
    }
    .support{
        display: block;
        text-align: center;
    }
    .legal p{
        text-align: left;
        transition: 1s;
    }
    .support p{
        text-align: left;
        transition: 1s;
    }
    
    .rights{
        text-align: center;
    }
}